
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    
}

:root {
    --nav-bg-color: #1958cc;
    --font-main-color:#e0f2fe;
    --main-bg-color:#94a3b8;
    --wrapper-bg-color: #262626;
    --header-bg-color: #d6d3d1;
    --main-bt-color:#2563eb;

    --font-main-size: 1em;
    --font-navbar-size: 1.2em;
    --font-header-size: 2em;
    --font-box-header-size: 1.3em;
    --icon-size:1.5em;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 2.2em;
    color: var(--font-main-color);
}

.logo i {
    color: var(--font-main-color);
    position: relative;
    top: 1px;
    right: 10px;
}

.navbar {
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction:column;
    background: var(--nav-bg-color);
    padding: 10px;
}

#b1 {
    margin-bottom: 30px;
}

li {
    margin: 10%; 
    transition: ease .5s;
 }

li a {
    color: var(--font-main-color);
    font-size: var(--font-navbar-size);
    text-decoration: none;
}

li i {
    color: var(--font-main-color);
    font-size: var(--icon-size);
    position: relative;
    top: 2px;
    right: 1px;
    margin-right: 10px;
}

li:hover{
    scale: 0.9;
    
}